.grid-container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 50px 50px 50px 50px 50px; /*Make the grid smaller than the container*/
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
