/*==========================MEDIA CARDS========================================== */
img.resize {
  max-width:50%;
  max-height:50%;
    width: 20%;
}
.card-img {
  border-radius: 5px 5px 0 0;
    width: 20%;

}

.media-card {
    width: 20%;
  margin-bottom: 0px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,10);
  transition: 0.3s;
  border-radius: 1px;

}

.media-card:hover span {
  opacity: 1;
}

.media-card:hover {
  box-shadow: 0 10px 19px 0 rgba(0,0,0,5);

}



/* Add some padding inside the card container. 2px North and South. 16px West and East */
/* .card-details {
  padding: 2px 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-details > div {
  padding: 5px;
  margin: 5px;
  line-height: 1.5rem;
  margin-top: -30px;
}

.card-date {
  font-weight: bold;
  color: #cc3300;
}

.card-date > p {
  text-align: center;
}

.card-actions {
  position: relative;
  top: -24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}



/* .card-actions button {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.card-actions button:hover {
  background-color: #bcc6de;
  cursor: pointer;
} */

/* .card-actions span {
  opacity: 0;
  transition: opacity 0.1s linear;
  margin: 0 5px;
} */
