.game-grid {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  height: 45rem;
  width: 100%;
}


.p1-card-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #12693F;  /*changed from blue to baize-green - SR */
  padding: 10px;
  width:100%;

}

.p2-card-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #12693F;  /*changed from blue to baize-green - SR */
  padding: 10px;
  width:100%
}

.selected{
  border: 5px solid red;/* changed from 2px to 5px to be more visible */
}

@media (max-width: 1200px) {
  .game-grid{
    height:30rem;
  }
}
@media (max-width: 800px){
  .game-grid{
    height:20rem;
  }
}
