/* .splash-page {
  background-image: url("/images/play-cards-right.jpg");
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-position:center;
} */

body {
  background-image: url("/images/play-cards-right.jpg");
  background-size:1000px;
  background-repeat: no-repeat;
  background-position:center top;
}

/* button {
  display:flex;
  flex-direction: row;
  align-items: baseline;
} */

.splash-buttons {
  display:flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  /* align-items: center; */
}
