
.splash-page {
  background-image: url("/images/play-cards-right.jpg");
  width: auto;
  height: 75vh;
  background-repeat: no-repeat;
  background-position:center;
}


.splash-buttons {
  display:flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;

}
