body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display SC', serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.game-box{
  height: 100vh;
  width: 100;
}
